.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  padding: 7px 14px;
}

.bg-dark {
  background-color: #66ada1 !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

